/* fonts */
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

/*logo font */
@import url('https://fonts.googleapis.com/css?family=Passion+One&display=swap');

.btn-blue {
    width: 260px;
    background: $light-blue;
    color: white;
    border-color: $dark;
    margin: 6px auto; 
}
.btn-mid-blue {
    width: 260px;
    background: $mid-blue;
    color: white;
    border-color: $dark;
    margin: 6px auto; 
}
.btn-dark-blue {
    width: 260px;
    background: $dark;
    color: white;
    border-color: $dark;
    margin: 6px auto; 
}
.tab-content-heading {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0;
}